.navbar-default{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.navbar-brand2{
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: block;
    width: 300px;
    margin-left: 80px;
    padding: 10Px;
    background-color: rgb(0, 0, 0);
    text-align: center;
}
.navbar-header{
    color: rgb(0, 0, 0);
}
h1{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40PX;
}
h2{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 29PX;
    text-align: center;
}
.background{
    /* background-color: rgb(68, 67, 67); */
    background-image: url("https://www.cimcintermodalequipment.com/wp-content/uploads/2018/05/438267-large-black-steel-background-3000x2000.jpg");
}
.panel-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: dimgray;
    color: white;
    text-align: center;
    border: 0px;
    margin: 0%;
}
.panel-footer-bar{
    position: fixed;
    left: 0;
    bottom: 40px;
    width: 100%;
    height: 10px;
    border: 0px;
    margin: 0%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center; 
}
.text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.panel-body {
    margin-left: 20px;
    margin-right: 20px;
}
.vis_image{
    width: 80%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.comp_analysis{
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    margin-bottom: 5%;
}
th{
    background-color: rgb(0, 0, 0);
    color: white;
}
.panel-body_h{
    padding-left: 40px;
    padding-right: 40PX;
}
.data_page {
    text-align: left;
}
img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.analysis_img {
    padding:1px;
    border:2px solid #021a40;
    margin-bottom: 5%;
 }
.map_border {
    padding:1px;
    border:2px solid #021a40;
    margin-bottom: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.note {
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    background-color: black;
    color: white;
}